@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    background-color: #f9f9f9;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
p{
    font-weight: 400;
}
.container{
    margin: 3% 3%;
    display: flex;
    flex-wrap: wrap;
}
.child{
    width: 300px;
    border-radius: 5px;
    padding: 30px 30px;
    margin: 30px;
}
img{
    width: 100px;
}
a{
    text-decoration: none;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
}
.btn-1{
    background-color: darkorange;
    border: 1px solid darkorange;
}
.btn-2{
    border: 1px solid red;
    background-color: red;
}
.btn-3{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}
.btn-1:hover{
    border: 1px solid rgb(255, 72, 0);
    background-color: rgb(255, 72, 0);
}
.btn-2:hover{
    border: 1px solid rgb(156, 10, 10);
    background-color: rgb(156, 10, 10);
}
.btn-3:hover{
    border: 1px solid rgb(8, 41, 75);
    background-color: rgb(8, 41, 75);
}